<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Northwind" providerName="System.Data.SqlClient"
         connectionString="Data Source=DESKTOP-OQFSK4V\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
</configuration>