<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SiteLoaderSettingsConfigurationSection"
             type="SiteDownloaderHTTPConsole.SiteLoaderSettingsConfigurationSection, SiteDownloaderHTTPConsole" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <SiteLoaderSettingsConfigurationSection
    PathToDirectory="E:\\University\\EPAM\\A1-Mentoring-Program-Homework\\Module #7 HTTP\\Test"
    SiteAddress="https://docs.microsoft.com/ru-ru/archive/blogs/henrikn/httpclient-is-here"
    MaxDeep="1"
    DomenLimitation="CurrentDomainOnly"
    ShowStepsInRealTime="true">
    <Extensions>
      <add Extension="js" />
    </Extensions>
  </SiteLoaderSettingsConfigurationSection>
</configuration>