<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FileWatcherConfigurationSection" 
             type="BCL.Configuration.Sections.FileWatcherConfigurationSection, BCL"/>
  </configSections>

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <FileWatcherConfigurationSection Localization="En" DefaultFolder="E:\\asdf">
    <WatcherFolders>
      <add Path="E:\\asdf\\watcher" />
    </WatcherFolders>
    <Rules>
      <add Expression="\b[M]\w+" Target="E:\\asdf\\target" NameConfiguration="NoneModification" />
    </Rules>
  </FileWatcherConfigurationSection>
</configuration>