<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="simpleSection" 
             type="BCL.Configuration.Sections.SimpleConfigurationSection, BCL"/>
  </configSections>

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <simpleSection appName="My App">
    <workTime start="10:10:45" duration="0:0:3" />
    <files>
      <add name="a.txt" size="6" />
      <add name="aaa.txt" size="12" />
      <add name="b.txt" />
    </files>
  </simpleSection>
</configuration>